{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href="{% static 'bootstrap\css\bootstrap.css' %}">
    <link rel='stylesheet' href="{% static 'css\Home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>PPW KC06</title>
</head>
<body>
    {% include 'pages/navbar.html' %}
  <h1 class="find-text">FIND YOUR EVENT HERE</h1>
    <form action="" method="get">
        <div class="input-group md-form form-sm form-2 pl-0">
            <input name = "q" class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
            <button class="input-group-text lime lighten-2" id="basic-text1"><i class="fa fa-search" style="font-size:24px"></i></button>
            </div>
        </div>
        </form>
  </div>

<!-- Page Content -->
<div class="container">

  <!-- <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Gallery</h1> -->

  <hr class="mt-2 mb-5">  

  <div class="row text-center text-lg-left">
      {% for post in table_list %}
      <div class="col-lg-3 col-md-4 col-6">
          <a href="{% url 'post:details' post.id %}" class="d-block mb-4 h-100">
            <p class="event-title">{{post.nama_Kegiatan}}</p>
          </a>
          <p class="event-title">{{post.tanggal}}</p>
          <p class="event-title">{{post.lokasi}}</p> 
      </div>
      {% endfor %}
  </div>

</div>
<!-- /.container -->
</body>
</html>