{% load staticfiles %}
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light blue-grey lighten-5 mb-4">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="{% url 'index' %}">CS POST</a>    
      
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
      
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login'%}">Masuk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'postevent' %}">Buat Event</a>
            </li>
      
            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Kategori</a>
              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/?filter=organisasi">Organisasi</a>
                <a class="dropdown-item" href="/?filter=seminar">Seminar & Talkshow</a>
                <a class="dropdown-item" href="/?filter=lomba">Lomba</a>
              </div>
            </li>
      
          </ul>
          <!-- Links -->
      
          <!-- Search form -->
          <!-- <form class="form-inline">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form>
        </div> -->
        <!-- Collapsible content -->
      
      </nav>
      <!--/.Navbar-->