{% block content %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href="{% static 'bootstrap\css\bootstrap.css' %}">
    <link rel='stylesheet' href="{% static 'css\login.css' %}">
    <link rel='stylesheet' href="{% static 'css\navbarUmum.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>PPW KC06</title>
</head>
<body>
{% include 'pages/navbar.html' %}
    <div class="container" style="align-items: center; margin-left: 23%;">
        <div class="formlogres" style="align-items: center; width: 100%">
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel-body"">
                        {% if error_message %}
                            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                        {% endif %}
                       
                        <div class="form-group clearfix" style="display: flex; flex-direction: column;">
                            <label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-right"><font  color="white"> Username:</font><span class="text-red">*</span>:</label>
                            <div class="inputt" style="flex: 2; margin-left: 10px; margin-right: 10px; width: 45%;">
                                {{ form.username }}
                            </div>
                            <div class="inputt2" style="flex: 3"></div>
                        </div>
                        <div class="form-group clearfix" style="display: flex; flex-direction: column;">
                            <label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right"><font color="white">Password:</font><span class="text-red">*</span>:</label>
                            <div class="inputt" style="flex: 2; margin-left: 10px; margin-right: 10px; width: 45%;">
                                {{ form.password }}
                            </div>
                            <div class="inputt2" style="flex: 1"></div>
                        </div>
                        <div class="form-group clearfix" style="display: flex; flex-direction: column;">
                            <label for="{{ form.password_repeat.id_for_label }}" class="col-md-4 control-label text-right"><font color="white">ConfirmPassword:</font><span class="text-red">*</span>:</label>
                            <div class="inputt" style="flex: 2; margin-left: 10px; margin-right: 10px; width: 45%;">
                                {{ form.password_repeat }}
                            </div>
                            <div class="inputt2" style="flex: 1"></div>
                        </div>
                        <div class="col-md-6 col-md-offset-4" style="display: flex; flex-direction: row;">
                            <input type="submit" value="Login" class="btn btn-success" style="flex: 2; margin-bottom: 15px;">
                            <a class="panel-heading" href = "{% url 'register' %}" value= "w3docs" style="margin-left: 190px; flex: 1; color: rgba(221, 221, 221, 1)">  </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}
