body{
	background-color: rgba(221, 221, 221, 1);
}
.panel-body{
	background-color: rgba(17, 52, 82, 1);
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10%;
}
.form-control{
	width: 200%;
}
