.navbar{
    background-color: rgb(17, 52, 82);
}
.navbar-light .navbar-nav .nav-link{
    color: white!important;
}
.navbar-light .navbar-brand{
    color: white!important;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    color: white!important;
}
.nav-link:hover{
	color: red!important;

}