{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href="{% static 'bootstrap\css\bootstrap.css' %}">
    <link rel='stylesheet' href="{% static 'css\Event.css' %}">
    <link rel="stylesheet" href="{% static 'css\navbarUmum.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>PPW KC06</title>
</head>
<body>
    {% include 'pages/navbar2.html' %}

  <!-- <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Gallery</h1> -->

  <div class="container">
    <div class="" style="justify-content: center; display: flex;">
      <div class="" style="padding-top: 4% ;flex: 2">
        <div class="container" style="word-wrap: break-word;max-width: 500px">
                <h1 style="text-align: center">{{catch.nama_Kegiatan}}</h1>
                </br>
                {{catch.kategori}}
                {{catch.tanggal}}
                <hr style="border: 1px solid black"></hr>              
                {{catch.lokasi}}
                <hr style="border: 1px solid black"></hr>
                {{catch.contact}}
                <hr style="border: 1px solid black"></hr>              
          
        </div>
      </div>
      <div class="" style="padding-top: 4%; flex: 1;">
        <div class="container">
              <div class="" style="padding-top: 15%; word-wrap: break-word;max-width: 300px">
                <h6 style="font-weight: bold; ">Deskripsi Event</h6>
                {{catch.deskripsi}}
                <h6 style="font-weight: bold; margin-top: 10%;">Syarat dan Ketentuan</h6>
                {{catch.syarat_dan_ketentuan}}
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>